body {
	margin: 0px;
	font: 12pt 'Veranda','Goudy Old Style',sans-serif;
}
#container {
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	font-size:0;
	font: 12pt 'Veranda', 'Goudy Old Style', sans-serif;
}
a {
	text-decoration:none;		
}


/* header css*/
#header {
    	text-align: center;
	margin:0px;
	padding:0px;
    	border-bottom: 1px #F0F0F0;
	overflow: no-content;
	text-align: center;
	background-image: url("../images/gradient.jpg");
	background-repeat: repeat-x;
	background-position: bottom; 
}
#header div {
	display: inline-block;
}
#nav ul{
	list-style-position: inside;
	list-style: none;
	padding-left: 50px;
	margin-left: 0px;
}
#nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0px 10px;
}
#nav ul li a {
	color: #555;
}
#nav ul li a:hover {
	color: #31998D;
	margin: 10px 0px;
}
#alert{
	background-color: #31998D;
	color: #fff;
	clear:both;
	text-align: center;
}
#alert a {
	color: #fff;
	font-weight: bold;
}
#alert img {
	vertical-align: top;
	width: 20px;
	height: 20px;
}
/* end of header css */



/* form css */
.left {
	float: left;
	padding:10px;
}
.pure-controls{
	clear: both;
	margin:0px;	
}
.pure-form-aligned{
	margin:0px;
}
.pure-form-aligned .pure-controls {
    margin: 0px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
	background-color: #31998D;
}
.pure-form-aligned .pure-control-group label {
	width: 13em;
}
/* end of form css */


/* content css */
h1 {
	font-size: 20pt;
}
.blue {
	color: #31998D;
}
#content {
	padding-top: 10px;
	padding-bottom: 1px;
	background: #F0F0F0 url(background.png) center center;
    	min-height: calc(100vh - 126px);
	font: 12pt 'Veranda', 'Goudy Old Style', sans-serif;
	text-align: center;
}
/* end of content css */


/* table css */
table {
	margin: 0px auto 0px auto;
}
tr:first-child td{
	font: #fff bold;
	background-color: #31998D;
}
tr:nth-child(even) {
	background: #efefef}
tr:nth-child(odd) {
	background: #f7f7f7}
td{
	border: solid 1px #fff;
	vertical-align:middle;
	padding:15px 40px 15px 40px;
	/*font-size:10px;*/
	font-weight:normal;
}
/* end of table css*/

/* footer css */
#footer {
	text-align:center;
	font-size: 15pt;
}
/* end of footer css*/
